*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
}
#about{
    display: flex;
    justify-content: space-around;
    margin: 5px;
}
#about li{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
#my{
    display: flex;
    justify-content: space-between;
    margin: 5px  
}
#my li{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}
.account{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.nav1{
    background-color: gainsboro;
    margin: 10px 0;
    justify-content: space-around;
}
.account li{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#multi{
    font-size: 30px;
    font-weight: 1500px;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;
    background-color: black;
    
}
#shop{
    font-size: 30px;
    font-weight: 1500px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: gold;
}
.magnify input{
    padding: 5px;
    border: 1px solid grey;
}
.magnify{
    display: flex;
    align-items: center;
}
.magnify .search i{
    border: 1px solid black;
    padding: 5px;
    color: gold;
    border: 1px solid grey;
}

.multicontainer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 0px 15px;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(88, 83, 83);
    margin: 0px 15px;
}

.dots li{
    list-style-type: none;
    display: inline;
    color: white;
}
#bars{
    display: inline;
    background-color: gold;
    padding: 5px;
}
#home{
    color: gold;
}

#icon{
    color: white;
}
#five{
    border: 1px solid black;
}
.img1{
    display: flex;
    justify-content: space-around;
}
